# # LEDs
# NET "LED[3]"  	LOC = P4;
# NET "LED[2]"  	LOC = N5;
# NET "LED[1]"  	LOC = P5;
# NET "LED[0]"  	LOC = M6;

# CLK
NET "clk"  		LOC = T8; 

# Seven Segments
NET "sseg[0]"  	LOC = C7;
NET "sseg[1]"  	LOC = E6;
NET "sseg[2]"  	LOC = C5;
NET "sseg[3]"  	LOC = F7;
NET "sseg[4]"  	LOC = D6;
NET "sseg[5]"  	LOC = E7;
NET "sseg[6]"  	LOC = D5;
NET "sseg[7]"  	LOC = C6;

# sseg Enables
NET "en[0]"  	LOC = D8;
NET "en[1]"  	LOC = E8;
NET "en[2]"  	LOC = F9;
NET "en[3]"  	LOC = F10;
NET "en[4]"  	LOC = E10;
NET "en[5]"  	LOC = D9;

# Button 
NET "key1"	LOC = C3;
NET "key2"  LOC = D3;
NET "key3"  LOC = E4;

# Buzzer
# NET "buzz"	LOC = J11;